// based on 'node_modules/element-plus/theme-chalk/src/common/var.scss'
@use 'sass:math';
@use 'sass:map';

@use '../src/functions' as *;

$colors: () !default;
$colors: map.merge(
  (
    'kotoha': #92cfbb,
    'elena': #9bce92,
    'miya': #d7a96b,
    'cg-cute': #fb0774,
    'cg-cool': #236dfb,
    'cg-passion': #fca926,
    'cg-vocal': #ed5469,
    'cg-dance': #3dafdb,
    'cg-visual': #ff9a33,
  ),
  $colors
);
