// based on 'node_modules/element-plus/theme-chalk/src/var.scss'
@use 'sass:map';

@use './im-colors-cg.scss' as *;
@use './im-colors-ml.scss' as *;

@use './im-config';
@use './im-mixins' as *;

:root {
  @each $name in map.keys($colors-cg) {
    @include set-css-var-value('color-cg-' + $name, map.get($colors-cg, $name));
  }
  @each $name in map.keys($colors-ml) {
    @include set-css-var-value('color-ml-' + $name, map.get($colors-ml, $name));
  }
}

.color-ml-kotoha {
  color: var(--im-color-ml-kotoha);
}
.color-ml-elena {
  color: var(--im-color-ml-elena);
}
.color-ml-miya {
  color: var(--im-color-ml-miya);
}
.color-cg-cute {
  color: var(--im-color-cg-cute);
}
.color-cg-cool {
  color: var(--im-color-cg-cool);
}
.color-cg-passion {
  color: var(--im-color-cg-passion);
}
.color-cg-vocal {
  color: var(--im-color-cg-vocal);
}
.color-cg-dance {
  color: var(--im-color-cg-dance);
}
.color-cg-visual {
  color: var(--im-color-cg-visual);
}
