// based on 'node_modules/element-plus/theme-chalk/src/var.scss'
@use 'sass:map';

@use './im-colors.scss' as *;

@use '../src/config';
@use '../src/functions' as *;
@use '../src/mixins' as *;

:root {
  // custom colors
  // im-color-miya: #d7a96b;
  @each $name in map.keys($colors) {
    @include set-css-var-value('color-' + $name, map.get($colors, $name));
  }
}

.color-cg-cute {
  color: var(--im-color-cg-cute);
}
.color-cg-cool {
  color: var(--im-color-cg-cool);
}
.color-cg-passion {
  color: var(--im-color-cg-passion);
}
.color-cg-vocal {
  color: var(--im-color-cg-vocal);
}
.color-cg-dance {
  color: var(--im-color-cg-dance);
}
.color-cg-visual {
  color: var(--im-color-cg-visual);
}
