// stylelint-disable selector-pseudo-class-no-unknown -- :deep() is a Vue SFC construct

@mixin gacha-chart-styles {
  .gacha-config-form {
    padding-top: 1em;

    :deep(.el-form-item) {
      .el-input-number,
      .el-select,
      .el-segmented {
        width: 144px;
      }
    }
  }

  .simulation-summary {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    background-color: var(--el-fill-color);
  }
}
