body {
  font-family:
    'Noto Sans SC',
    'Source Han Sans SC',
    'Microsoft Yahei',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-jp {
  font-family:
    'Noto Sans JP',
    -apple-system,
    BlinkMacSystemFont,
    'Yu Gothic',
    sans-serif;
}
