// Overrides base styles from user agent stylesheets and normalized.css

// font-family
:root {
  --al-font-family: 'Noto Sans SC', 'Source Han Sans SC', 'Microsoft Yahei', -apple-system,
    BlinkMacSystemFont, sans-serif;
  --al-font-family-mono: 'Inconsolata Medium', 'Consolas', monospace, 'Noto Sans SC',
    'Source Han Sans SC', 'Microsoft Yahei', -apple-system, BlinkMacSystemFont, sans-serif;
  --al-font-family-jp: 'Noto Sans JP', 'Yu Gothic', -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-normal {
  font-family:
    'Noto Sans SC',
    'Source Han Sans SC',
    'Microsoft Yahei',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
.font-mono {
  font-family:
    'Inconsolata Medium',
    'Consolas',
    monospace,
    'Noto Sans SC',
    'Source Han Sans SC',
    'Microsoft Yahei',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif !important;
}
.font-jp {
  font-family:
    'Noto Sans JP',
    'Yu Gothic',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: var(--al-font-family);
}

// font-size
html {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  h3 {
    font-size: 1.0625rem;
  }
}

pre,
code,
kbd,
samp {
  font-family:
    'Consolas',
    monospace,
    'Noto Sans SC',
    'Source Han Sans SC',
    'Microsoft Yahei',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 1em;
}
