:root {
  --al-font-family: 'Noto Sans SC', 'Source Han Sans SC', 'Microsoft Yahei', -apple-system,
    BlinkMacSystemFont, sans-serif;
  --al-font-family-jp: 'Noto Sans JP', 'Yu Gothic', -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-normal {
  font-family: var(--al-font-family);
}
.font-jp {
  font-family: var(--al-font-family-jp);
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--al-font-family);
  text-rendering: optimizeLegibility;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.875rem;
  }
  h4,
  h5,
  h6 {
    font-size: 0.75rem;
  }
}
