// Custom styles
// CSS tricks, css shapes, css aberrations, etc.

// simple divider
.al-divider {
  margin: 1em 0;
  border-bottom: 2px solid var(--im-color-miya);
}

.al-divider-vertical {
  margin: 0px 1em;
  border-left: 2px solid var(--im-color-miya);
  height: 100%;
}
