@use 'sass:map';
@use './im/im-colors.scss' as imColors;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $font-family: (
    '': var(--al-font-family),
  ),
  $colors: (
    'primary': (
      'base': map.get(imColors.$colors, 'miya'),
    ),
  ),
  $font-size: (
    'extra-large': 24px,
    'large': 20px,
    'medium': 18px,
    'base': 16px,
    'small': 14px,
    'extra-small': 12px,
  )
);

// Import all styles (disabled when importing on demand)
// @use 'element-plus/theme-chalk/src/index.scss';
